#intro {
  padding-top: 80px;
}
#mapid {
  width: 100%;
  height: 800px;
  position: relative;
  outline: medium none currentcolor;
}
form {
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 1%;
}
button {
  width: 100%;
}
#logo {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 55px;
}

@media(max-width:425px){
  #mapiddiv {
    padding-top: 10px;
  }
  #logo {
    width: 40px;
  }
}
